/// Used to scale down text title and content text
$text-page-content-text-base-font-size: 0.8em !default;

/// Used to undo scaling of text title and content text on phone
$text-page-content-text-phone-base-font-size: 1em !default;

/// Typography of the header displayed above the content text
/// paragraph.
$text-page-text-title-typography: () !default;

$text-page-page-text-wide-desktop-max-width: null !default;

/// Inline Image Caption Text box Variables

$text-page-inline-image-caption-background-color: black !default;
$text-page-inline-image-caption-text-color: white !default;

$text-page-inline-image-caption-inverted-background-color: null !default;
$text-page-inline-image-caption-inverted-text-color: null !default;

$text-page-inline-image-caption-padding: 7px 10px !default;

/// Typography of the caption that is displayed below the inline image
$text-page-inline-image-caption-typography: () !default;

$text-page-anchor-color: $page-anchor-inverted-color !default;
$text-page-anchor-inverted-color: $page-anchor-color !default;

@include pageflow-page-type-pictograms("text_page");

.page .text_page {
  .page_text {
    font-size: $text-page-content-text-base-font-size;
    max-width: 500px;

    @include wide_desktop {
      max-width: $text-page-page-text-wide-desktop-max-width;
    }

    @include phone {
      font-size: $text-page-content-text-phone-base-font-size;
      max-width: 84%;
    }

    a {
      color: $text-page-anchor-color;
    }

    .page_sub_header {
      @include typography(
        $text-page-text-title-typography,
        (
          padding-bottom: 2em,
          font-size: 1.5em
        )
      );
    }
  }

  .inline_image_text {
    background-color: $text-page-inline-image-caption-background-color;
    color: $text-page-inline-image-caption-text-color;
    padding: $text-page-inline-image-caption-padding;

    @include typography(
      $text-page-inline-image-caption-typography
    );
  }

  &.invert_text {
    .inline_image_text {
      background-color: $text-page-inline-image-caption-inverted-background-color;
      color: $text-page-inline-image-caption-inverted-text-color;
    }

    .page_text a {
      color: $text-page-anchor-inverted-color;
    }
  }
}
